html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.ant-layout {
  height: 100%;
}


.ant-layout-header .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.ant-layout-header .trigger:hover {
  color: #108ee9;
}
#root .ant-menu-inline-collapsed {
    width: 63px;
}

.header-icon {
  font-size: 20px;
  margin: 0 15px;
}
